body{
	font-family: 'Overpass', sans-serif;
	
}
.section1Heading1{
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 25%;
	margin-bottom: 4%;
}
.section1Heading2{
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 12%;
}
.navbar{
	font-weight: 300;
	font-size: 1.2rem;
}
.navbar-brand{
	padding-left: 15%;
}
#startFree,#learnMore{
	border-radius: 40px;
	margin-left: 1rem;
}
#btn{
	padding: 10px 32px;
	border-radius: 40px;
	color: hotpink; 
}
.section1{
	color: white;
	background-image: url('images/bg-pattern-intro-desktop.svg');
	background-position: left 25% bottom 50%;
	background-size: 250%;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 20%;
	background-color: hsl(356, 100%, 66%);
	border-radius: 0 0 0 100px;
}
.section2MainHeading{
	text-align: center;
	font-weight: 600;
	padding: 5%;
}
.section2{
	padding: 10% 5%;
	text-align: center;
}
.section3Heading{
	padding: 5%;
}
.section3-img{
	width: 100%;
}
.section3{
	text-align: center;
	background-size: 100%;
	background-position: left 50% bottom 150%;
	background-repeat: no-repeat;
	border-radius: 0 100px 0 100px;
	background-color: hsl(237, 17%, 21%);
	background-image: url('images/bg-pattern-circles.svg');
	color: white;
	padding: 15% 5%;
}
.section4{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}
.section4Heading,.section3Heading,.section2Heading,.section1Heading{
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: 600;
}
.para{
	line-height: 1.9;
	padding: 2% 5%;
}
footer{
	background-color: hsl(240, 10%, 16%);
	text-align: center;
	color: white;
	border-radius: 0 100px 0 0;
	padding: 10% 0;
}
.footerLink{
	border-style: none;
	outline: none;
	color: white;
	text-underline-position: unset;
}
.logo{
	margin-bottom: 10%;
}
